@charset "utf-8";
/* CSS Document */

p {
	font-size:1.2em;
	color:#555555;
}

h2 {
	margin:0;
	color:#3c6fa1;
	padding-top:24px;
}

h4 {
	margin-bottom:12px;
}

/* Subsection:*/
.Subsection {
  list-style-type: none;
}

.imgPos {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-icon-myapp-video {
	background-image: url("../images/display_off_18.png");
	background-size: 18px 18px;
}
/*
.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }

.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

#video .ui-icon { background:  url(images/glyphish-icons/107-widescreen.png) 50% 50% no-repeat; background-size: 30px 19px; }
#discuss .ui-icon { background:  url(images/glyphish-icons/112-group.png) 50% 50% no-repeat; background-size: 32px 21px;  }
#notes .ui-icon { background:  url(images/glyphish-icons/179-notepad.png) 50% 50% no-repeat;  background-size: 22px 28px; }
#text .ui-icon { background:  url(images/glyphish-icons/96-book.png) 50% 50% no-repeat;  background-size: 18px 26px; }
*/

/*
.ui-icon-video { background-image:  url(images/glyphish-icons/107-widescreen.png); }
.ui-icon-discuss { background-image:  url(images/glyphish-icons/112-group.png);  }
.ui-icon-notes { background-image:  url(images/glyphish-icons/179-notepad.png); }
.ui-icon-text { background-image:  url(images/glyphish-icons/96-book.png);}
*/
.ui-body-c, .ui-dialog.ui-overlay-c {
	background:#FFF
}
video {
	/*max-width: 100%;
	height: auto;
	background:#ffffff;*/
}

#videoDiv, #videoDiv1, #videoDiv2, #videoDiv3 {
	/*padding: 1em 0;
	margin:1em auto;*/
	width:100%;
	background:#ffffff;
	text-align:center;
}
li.menuLink {
	padding: 0 24px;
	color:#09C;
	diaplay:inline;
	float:left;
}

.footerStyle {
	line-height:3em;
}

.example {
	
	color:#3c6fa1;
	padding:18px;
	background-color:#f5f5f5;
	line-height:2em;
	border:thin #ddd solid;
	width:542px;
	margin:24px auto;
	text-shadow:none;
}
.center {
	width:100%;
	margin:0 auto;
}
	
ul.noBullets li {

	list-style-type:none;

}

.mlCom {
	color:#008000;
	font-family:"Courier New", Courier, monospace;
	font-size:1.2em;
	margin:24px auto;
	width:560px;
	text-shadow:none;
}
.imagePos {
	text-align:center;
}

ul#nav {
	list-style-type: none;
	padding:0;
	margin:0 auto;
}
ul#nav li {
	display:inline;
	clear:both;
	padding-right:18px;
	line-height:42px;
	font-size:1.3em;
}
ul#nav li a {
	text-decoration:none;
	color:#5994bf;
}
li#prev {
	text-align:center;
	padding: 0 18px;
}
hr {
	margin:0;
}
.imagePos {
	text-align:center;
	padding:24px;
}
.imageStyle
{
	text-align:center;
	padding:9px;margin:0px; border:1px solid #ccc; background-color:#fff;
}
div.ui-content {
	padding: 15px 0; !important
}

.blue {
	color:#03F;
}
#current ul {
	display:none;
}
#current:hover > ul {
	display:block;
}
h2 {
	font-size:1.2em;
}

p.intro
{
padding-top: 12px;
}